.container{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    width: 100%;
    height: 60px;
    background-color: #4c89e3;
    color: #fff;
}

header strong:hover{
    color: #ddd;
    cursor: pointer;
    transition: all 0.8s;
}

.post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    background-color: #fff;
    border-width: 1px;
    border-radius: 7px;
    margin: 8px;
    padding: 10px;
}

.titulo{
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 25px;
    color: #000;
}

.subtitulo{
    margin: 5px;
}

.botao{
    height: 40px;
    background: none;
    border-radius: 5px;
    border: 2px solid #4c89e3;
    color: #4c89e3 ;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    margin: 10px;
}

.botao:hover{
    background: #4c89e3;
    color: #fff;
}