.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;

}

.header{
    width: 100%;
    height: 70px;
    background-color: brown;
    justify-content: center;
    align-items: center;
    display: flex;
}

.titulo{
    font-size: 35px;
    color: #fff;
}