#Elogio {
  display: none;
}

#Elogio2 {
  display: none;
}

#Elogio3 {
  display: none;
}

/* Reclamação */

#Negativa {
  display: none;
}

#ProblemasCartões {
  display: none;
}

#ProblemasEscolar {
  display: none;
}

#CartãoInválido {
  display: none;
}

#Integração {
  display: none;
}

#GratuidadeCancelada {
  display: none;
}

#ErroLeitura {
  display: none;
}

#ProblemaDocumentação {
  display: none;
}

#RecargaPendenteCartãoCidadãoValeTransporte {
  display: none;
}

#TratarSemUrbanidade {
  display: none;
}

#AtendimentoPresencial {
  display: none;
}

#MáquinaAutoatendimento {
  display: none;
}

#ProblemaAgendamento {
  display: none;
}
#ProblemaTelefônico {
  display: none;
}
#ProblemaTelemático {
  display: none;
}
#ProblemaTelemático {
  display: none;
}
#ProblemasPortalValeTransporte {
  display: none;
}

#SiteCartãoLegal {
  display: none;
}

#QuestionamentoTaxas {
  display: none;
}
#BoletoNãoEncontradoBaseDados {
  display: none;
}
#ReclamaçãPrazos {
  display: none;
}

/* Informação*/
#CancelamentoPerdaRouboFurto {
  display: none;
}

#ConsultaCartõesVinculadosCPF {
  display: none;
}

#ConsultaSolicitaçãoCartãoGratuidade {
  display: none;
}

#DocumentaçãoNcessáriaSolicitarCartão {
  display: none;
}

#FormasPagamentoTaxas {
  display: none;
}

#FormasPagamentoRecargas {
  display: none;
}
#HorárioLocaisAtendimentofísico {
  display: none;
}

#PostosRecargaDisponíveis {
  display: none;
}

#PrazosEmissão2°ViaCartões {
  display: none;
}

#RecargaPendenteCartãoCidadãoValeTransporte {
  display: none;
}

#RetiradaValeTransporte {
  display: none;
}

#SegundaVia {
  display: none;
}

#ValoresTaxasCobradas {
  display: none;
}
