{{!-- <h1>CRUD NODEJS</h1> --}}

{{id}}

<form action="./home.handlebars" id="form1" name="form1">
    <h3>Fazer Login</h3>
    User: <br>
    <input type="text" id="inpUser">
    Pass:
    <input type="password" id="inpPass">
    <div id="result" style="color: red; font-wieght: bold; margin-top:-5px; margin-bottom: 5px"></div>

    <button id="btn">Entrar</button>

    {{!-- <a href="./home.handlebars">Cadastre-se</a> --}}
    <a href="home">Home</a>

</form>


</div>