/* @charset "UTF-8";
body{
    margin: 0;
    padding: 0;
}

.container{
    background-color: #141431;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
  }
  body {
    height: 100vh;
    width: 100vw;
    background: #f2f4f6;
    overflow: hidden;
  }
  .webcam-start-stop {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 5px 0;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .webcam-start-stop > a {
    text-decoration: unset;
    color: #000;
    background: #fff;
    padding: 10px 20px;
  }