div .register-h1{
    margin: 30px;
    margin-bottom: 10px;
    text-align: center;
}

form#register{
    width: 100%;
    max-width: 680px;
    margin: 0px auto 0;
    padding: 30px;
    background: grey;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

form#register input{
    margin-bottom: 15px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 0 20px;
    font-size: 15px;
}

form#register button{
    padding: 10px 20px;
    border-radius: 5px;
    border: 0px;
    background: #272727;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

header#inicioVoltar{

    background: #272727;;
    height: 52px;
}

header#inicioVoltar .link{
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 20px;
    padding-left: 20px;    
    font-weight: bold;
}

