.full{
    display: flex;
    flex-direction: column;
   margin-top: 10px;
}

.t{
    
    text-align: center;
    columns: #272727;;
}

.br7{
    height: 665px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    padding: 20px; 
   
}