 body{
    
    margin: 0;
   
    
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    height: 100vh;

}


.square{
    height: 100px;
    width: 100px;
    border: solid 10px #f7f7f7;
    border-right: solid 10px  #9c88ff;
    border-radius: 50%;
    animation-name: loading;
    animation-duration: 1s;
   animation-iteration-count: infinite;

   

}
@keyframes loading{
    to{
        transform: rotate(1turn);
    }
}
