<form name="form1" action="/controllerUpdate" method="POST" id="form1">
    Id: {{id}}<br>
    <input  type="hidden" name="id" id="id" placeholder="Id" value="{{id}}">  
    <input type="text" name="name" id="name" placeholder="Name" value="{{name}}"><br>
    <input type="text" name="age" id="age" placeholder="Age" value="{{age}}"><br>
    <input type="submit" name="btnSubmit" id="btnSubmit" value="Update"><br>
</form>