section#ativos{
    width: 100%;
    max-width: 930px;
    margin: 0 auto;
    padding: 0 30px;
}

section#ativos article{
    background: #fff;
    border: 1px solid #ddd;
    margin-top: 30px;
    margin-bottom: 10px;
}

section#ativos article header{
    padding: 20px;
    display: flex;
    align-items: center;

}

section#ativos article header .title{
    display: flex;
    flex-direction: column;
}

section#ativos article header span{
    font-size: 13px;
    padding-top: 5px;
}

section#ativos article >img{
    width: 100%;
}

section#ativos article footer{
    padding: 20px;
    word-wrap: break-word;
}