<h1 style="text-align: center;">Users</h1>
<h1 style="text-align: center;">

    <form name="form1" action="/controllerForm" method="POST">
        ID: <br>
        <input type="text" name="id" id="id"><br>
        Nome <br>
        <input type="text" name="nome" id="nome"><br>
        Email: <br>
        <input type="text" name="email" id="email"><br>
        Password: <br>
        <input type="text" name="senha" id="senha"><br>
        Data de Nascimento: <br>
        <input type="text" name="data_nascimento" id="data_nascimento"><br>
        <input id="print" type="submit" name="btnSubmitUser" id="btnSubmitUser" value="Cadastrar"
            style="text-align: center; margin-top: 30px">

    </form>