body {
  background-color: rgb(20, 20, 49);
  margin: 0;
  padding: 0;
}
/* 
@keyframes move {
  from {
    left: 0px;
  }
  to {
    left: 300px;
  }
  0%{left: 0px; }
  100%{left: 500px;}

} */

@keyframes mudaCor {
  /* from {
    background-color: blueviolet;
  }
  to {
    background-color: brown;
  } */
  0%{background-color: blueviolet; }
  25% {background-color: chartreuse; width: 400px;}
  50%{background-color: green;}
  75%{background-color: #f3f3; width: 300px;}
  100%{background-color: brown;}

}

.box {
  position: relative;
  background-color: #fff;
  width: 200px;
  height: 200px;
  border: solid;
  animation-name: mudaCor;
  animation-duration: 3s; 
 animation-fill-mode: forwards;
animation-iteration-count: infinite;

 /* animation: mudaCor 3s linear  0s 1 normal forwards; */
 

}

.div1{
  animation-timing-function: linear;
}
.div2{
  animation-timing-function: ease;
}
.div3{
  animation-timing-function: ease-in;
}
.div4{
  animation-timing-function: ease-out;
}
.div5{
animation-timing-function: ease-in-out;  
}