<h1>CRUD NODEJS</h1>

{{id}}

<form action="" id="form1" name="form1">
        User: <br>
        <input type="text" id="inpUser"> <br>
        Pass: <br>
        <input type="text" id="inpPass"> <br>

        <button id="btn">Entrar</button>

    </form>