<head>
  <link rel="stylesheet" href="/CSS/nav.css">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link rel="icon" href="/IMG/logoMD.png">
</head>
<nav class="navbar">
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    <i class="fas fa-bars"></i>
  </label>
  <label for="" class="logo">MD CABECEIRAS</label>
  <ul>
    <li> <a href="/">Home</a></li>
    <li> <a href="/Insert">Cadastrar Nota</a></li>
    <li> <a href="/Select">Selecionar Notas</a></li>
    <li> <a href="/About">Sobre</a></li>
    {{!-- <li> <a href="/Users">Users</a></li> --}}
    <li><input type="text" placeholder="Pesquisar Nota..." id="search"
        style="height: 30px; border-radius:3px; border:0px; text-align: center"></li>
    {{!-- <button id="btnSearch">Procurar</button> --}}

  </ul>
</nav>

{{{body}}}


<script src="/JS/Search.js"></script>