body{
   
    background-color: gray;
}

.example {
    -webkit-transform: rotate(30deg); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
        -ms-transform: rotate(30deg); /* IE 9 */
            transform: rotate(30deg); /* IE 10, Fx 16+, Op 12.1+ */
            background-color: red;
  }