section#ativos{
    width: 100%;
    max-width: 930px;
    margin: 0 auto;
    padding: 0 30px;
    padding-top: 70px;
    margin-left: 150px;
}

section#ativos article{
    background: #fff;
    border: 1px solid #ddd;
    margin-top: 30px;
    margin-bottom: 10px;
}

section#ativos article header{
    padding: 20px;
    display: flex;
    align-items: center;

}

section#ativos article header .title{
    display: flex;
    flex-direction: column;
}

section#ativos article header span{
    font-size: 13px;
    padding-top: 5px;
}

section#ativos article >img{
    width: 100%;
}

section#ativos article footer{
    padding: 20px;
    word-wrap: break-word;
}


nav#inicio{

    background: #272727;;
    height: 52px;
}

#inicio .link{
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: red;
    padding-right: 20px;
}

#inicio .link2{
    width: 100%;
    margin: 10 auto;
    padding-right: 20px;
    padding-left: 20px;
    margin-top:0px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: blue;
    
    
}

#inicio .link3{
    width: 100%;
    margin: 10 auto;
    padding-right: 20px;
    padding-left: 20px;
    margin-top:0px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: yellow;
    
    
}

.br7I {
    margin: 10 auto;
    margin-right: 770px;
    margin-top:0px;
    height: 52px;
    display: flex;
    align-items: center;
    
    
}



#geral .fixed .link1{
    padding-left: 10px ;
    padding-top: 5px;
    margin-bottom: 5px;
    font-size: 5px;
    justify-content: space-around;
}

 .span1{
    align-items: center;
 }

.span2{
    font-size: 14px;
    padding-left: 8px;
    padding-top: 10px;
    vertical-align: middle;
}

 
 #geral .menu .fixed{
    position: fixed;
    background: gray;
    width: 150px;
    height: calc(100% - 51px);
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
}

.br7Name{
    font-weight: bold;
    padding-right: 37px;
}