<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles">
    <title>INSERT</title>
</head>

<body>

    <form name="form1" action="controllerForm" method="POST" id="form1">
        <input type="text" name="id" id="id" placeholder="Id"><br>
        <input type="text" name="name" id="name" placeholder="Name"><br>
        <input type="text" name="age" id="age" placeholder="Age"><br>
        <input type="submit" name="btnSubmit" id="btnSubmit" value="Add"><br>
    </form>
</body>

</html>